.content {
    padding-top: 100px;
}

.navbar {
    &__link {
        color: #ffffff;

        &:hover {
            color: #ffffff;
        }
        
        &--active {
            text-decoration: underline;
        }
    }
    &__link + &__link {
        margin-left: 20px;
    }
}
